body {
  font-family: sans-serif;
}

.jumbotron {
  color: #ccc;
  background-color: rgb(31, 31, 129);
  display: flex;
  justify-content: center;
  margin-left: 200px;
  margin-right: 200px;
}

header {
  padding-bottom: 50px;
}

form {
  margin-left: 200px;
  margin-right: 200px;
  border: 1px solid;
}

#form-header {
  background-color: rgb(206, 200, 200);
  padding-bottom: 10px;
}


